@media (orientation: landscape) {
    select {
        width: 100%;
    }

    .selectDiv {
        float: left;
        width:  calc(100%  /3);
    }

    #chartContainer {
        clear: left;
        height: 70%;
    }
}

@media (orientation: portrait) {
    select {
        width: 100%;
    }

    .selectDiv {
        clear: left;
        width: 100%;
    }

    #chartContainer {
        clear: left;
        height: 70%;
    }
}

#header {
    color: white;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

    background-color: #f76d1c;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}